[defaults]
roles_path = roles
collections_path = collections
stdout_callback = iaas_safe_default
callback_plugins = plugins/callback
callback_result_format = yaml
bin_ansible_callbacks = True
retry_files_enabled = False
host_key_checking = True
filter_plugins = filter_plugins
lookup_plugins = plugins/lookup

[privilege_escalation]
become_ask_pass = False
